$text-color: rgb(0,0,0);
$button-color: rgb(26, 163, 255);
$default-margin-top: 10px;
$default-margin-bottom: 10px;

%default-input-layout {
    width: 100%;
    padding: 5px;
    margin-bottom: $default-margin-bottom;
}