.user-input input, .user-input textarea, .user-input button {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

body {
  color: black;
  font-family: Helvetica, Arial, sans-serif;
}

.std-btn, .card .btn-cmd, .user-input button, .toggle-language, .back {
  box-shadow: inset 0px -3px 7px 0px #29bbff;
  background: linear-gradient(to bottom, #2dabf9 5%, #0688fa 100%);
  background-color: #2dabf9;
  border-radius: 3px;
  border: none;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  padding: 9px 23px;
  text-decoration: none;
}

.back {
  padding: 5px;
}

.toggle-language {
  padding: 5px;
  float: right;
}

.user-input .remove {
  cursor: pointer;
  color: blue;
}

.card {
  background-color: #F2F2F2;
  padding: 10px;
  margin: 7.5px 15px;
}
.card .title {
  font-weight: bold;
  border-bottom: 1px solid #C0C0C0;
  padding-bottom: 5px;
  margin-bottom: 10px;
}
.card .btn-cmd {
  float: right;
  margin-left: 5px;
  padding: 5px;
  font-size: 80%;
}
.card .date {
  font-size: 70%;
  font-style: italic;
}
.card .date time {
  display: inline-block;
}
.card .note {
  font-size: 90%;
}
.card .tags {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline;
}
.card .tags li {
  display: inline-block;
  background-color: #404040;
  margin-right: 5px;
  border-radius: 3px;
  padding: 1px 6px;
  font-style: italic;
  font-weight: bold;
  color: white;
  font-size: 90%;
}
.card ::after {
  content: "";
  clear: both;
  display: table;
}
